[2018-12-27 16:00] barbedCoil opened #2 "Styling Questions / Requests"
**First, great paged grid!  Very fast loading and paging!**
I am looking to have a simple data set bound but I have a couple of questions about styling (see attached image as well):
1. I don't want searching or filtering which is easy to exclude but the extra rows (header row for instance) remains - is it possible to simply set the row to not display if option is not used?
2. I need to be able to

[2019-01-01 10:35] rubanraj54 commented on #2
Hi @barbedCoil,

I am working on this issue. You will get the patch probably today..

Thanks.

[2019-01-01 12:37] rubanraj54 commented on #2
Hi @barbedCoil,

Can you please update your package to new version?

Fixes:
* Not showing the header row if there is no filter or action buttons.
* Now you can specify the text alignment for each column and column header texts.

In your column config, you can specify `row_text_alignment` and  `column_text_alignment`
Default : "text-center"
Other options : `["text-justify","text-right","text-left",

[2019-01-01 13:13] barbedCoil commented on #2
Will, do thanks!

[2019-01-07 11:43] LarkLib opened #3 "Could I remove the card style?"
I don't need  card_title and pagination_info but still has a box with header around the table.
How to remove the box to only keep the table?
table around a card:
|------------------------------|
|------------------------------|
|      |--------------------|　　　|
|      |    table          　　　　      　|　　　|
|      |--------------------| 　　　|
|------------------------------|

[2019-01-07 14:18] #3 closed

[2019-01-07 14:31] rubanraj54 commented on #3
Hi @LarkLib ,

Thanks for made an issue.

Can you please update your package to new version (1.0.15 or above)?

Fixes:

* Users can switch between card style layout with table and default plain table layout.

You can enable or disable it by setting `**card_mode**` to true/false in the table config.

### Example
[code]

If you still like to render table inside card body, you can render vue-bootstra

[2019-01-08 14:11] LarkLib commented on #3
Thanks for your quickly work, it is working well now, a star!

[2019-01-09 09:05] LarkLib opened #4 "null reference issue"
I got a null reference issue when global search a string.
I think this line pop it.
VueBootstrap4Table.vue
line 661:
`                    if (typeof value === "undefined") {
`
It's working when changed to:
`                    if (value == null || typeof value === "undefined") {
`

[2019-01-09 11:34] rubanraj54 commented on #4
Thanks for reporting the issue. @LarkLib

I've planned for a new release with more features in this weekend.
I will fix the above issue in new release.

[2019-01-09 12:16] LarkLib commented on #4
It got a "Promise is undefined" issue in IE 11
May be to run  "npm install --save babel-polyfill" to resolute it.

[2019-01-09 13:00] rubanraj54 commented on #4
is this a new issue or belongs to the "null reference issue"? @LarkLib

I will do a test in IE11 also. But IMHO, use es6-promise polyfill plugin in your app.

`require('es6-promise').polyfill();`

Anyway I will give a try with polyfill and check how the final bundle looks like.

[2019-01-10 00:09] rubanraj54 commented on #4
Hey @LarkLib

I tried with IE 10 and 11. I got only the polyfill error and this is not from the plugin.

The polyfill error was from axios request to pull the dummy data to populate the table for testing.

If you use axios or promise based plugin in your application, then just install [es6-promise](https://github.com/stefanpenner/es6-promise) and include this `require('es6-promise').polyfill();` c

[2019-01-10 15:38] rubanraj54 commented on #4
Yup., you're right.

Actually a week before I was moving pagination code to a separate component and forget to cleanup this extra code (in line 1140). I will clean that too.

Thanks your great contribution.

[2019-01-12 14:35] rubanraj54 commented on #4
fixed this issue in version 1.0.17

[2019-01-12 14:35] #4 closed

[2019-01-15 03:00] deviilingga opened #5 "Checkbox rows"
when i set on config with checkbox_row: false or removed it, the header of the tables still includes the checkbox. any solution for solve that?

[2019-01-15 07:58] rubanraj54 commented on #5
Hey @deviilingga. Thanks for reporting the issue.

Actually this bug has been fixed in latest version (1.0.18). Could you please update "vue-bootstrap4-table" package to new version and check?

[2019-01-15 20:52] rubanraj54 commented on #5
I will close this issue, since it is already fixed in current version.

If you still facing the issue, pls @deviilingga reopen the issue.

[2019-01-15 20:52] #5 closed

[2019-01-18 13:08] RazvanDev opened #7 "Filter/Pagination dropdown not working"
Hello,
First of all thank you for making this awesome component. It really saved my hide with a feature we're supposed to implement.

I just want to say that for some reason with the dropdowns for filter and pagination don't work at all.. I followed your code examples and saw that they don't seem to work there either.

[2019-01-18 16:48] rubanraj54 commented on #7
Thanks for reporting the issue @RazvanDev .

I've checked the demo and yes it is not working. I will quickly have a look and try to fix it ASAP.

[2019-01-18 20:59] rubanraj54 commented on #7
Hey @RazvanDev , I found the issue. In the codepen, somehow I've removed jQuery dependency. That's why it wasn't working in demo page.

Thanks for your valuable feedback & letting me know about the issue.

If you would like to support this plugin, please give this repository a star 🌟

[2019-01-18 21:08] #7 closed

[2019-01-30 14:20] Chris-Pratt-Clystnet opened #9 "Sort Order Desc on first click"
When i have a table with columns that have no inital sort and i click to sort one of these columns it tries to sort in desc order to begin with.

Now i would expect the first click of sort to order by asc, is this a bug or is there some way i can configure this?

[2019-01-30 14:48] rubanraj54 commented on #9
Hi @Chris-Pratt-Clystnet, Thanks for reporting an issue.

By default, table tries to do desc sort.

But, Now I feel it is more sensible that initially table should do the "asc" sort if there is no initial sort provided.

I will fix this by today and let you know.

[2019-01-30 15:47] Chris-Pratt-Clystnet commented on #9
@rubanraj54 thanks

[2019-01-30 17:31] rubanraj54 commented on #9
Hi @Chris-Pratt-Clystnet I fixed this in new version 1.0.23.

Update your package to get the changes.

If you would like to support this plugin, please give this repository a star ⭐

[2019-01-30 17:32] #9 closed

[2019-02-08 11:33] ojas360 opened #10 "Can i remove the scrollbar on bottom?"
The table has a class table-responsive due to which the overflow-x is set,
Can i unset it?

[2019-02-08 12:11] rubanraj54 commented on #10
Hi thanks for letting me know the issue.

I am currently working on this to make it configurable. You will get the new version by today.

Thanks.

[2019-02-08 13:52] ojas360 commented on #10
Also is it possible change the color of pagination page numbers, as they are too bright.
Is it possible to style it?

[2019-02-08 14:09] rubanraj54 commented on #10
Currently it is not possible, But I will consider your request since it makes more sense that users can override the colors.

[2019-02-08 22:59] rubanraj54 commented on #10
Hi @ojas360 , I've added a new option to override classes on the outer table `<div>` element. you can do this by following. So, please update your package to new version (1.0.27)

[code]

Pass classes prop to vue-bootstrap4-table component and in the classes object you can see "tableWrapper" is currently empty which overrides the default classes of `<div>` element outside the `<table>` element.

I

[2019-02-08 23:02] #10 closed

[2019-02-09 04:37] ojas360 commented on #10
Thanks for your support

[2019-02-11 05:34] ojas360 commented on #10
Regarding the pagination styles,

I applied the following
.pagination>li>a {
    background-color: white;
    // text color
    color: #5A4181;
}

But its not overriding the existing styles

[2019-02-11 09:42] rubanraj54 commented on #10
Hi @ojas360 , Sorry it's my mistake in the previous message. I used a wrong comment style in the css, I updated my previous message.

And the style should look like this,

[code]

You can checkout this code pen example. (https://codepen.io/rubanraj54/pen/bzvPpP)

You can override default slot icons with your styled icons with the help of slots. Example is here (https://rubanraj54.gitbook.io/vue-bo

[2019-02-18 09:34] daoudzd opened #11 "client side filtration and sorting in server mode"
hello, thank you for the great component i love it,
i am using it with server mode enabled and i handled the pagination, i wonder if you can add an option to activate built in filtration and sorting in server mode

[2019-02-25 21:56] JeffersonSchuler opened #12 "UI Issues"
Thanks for working on this control, it is very useful.

Everything seems to be functioning fine, but I am running into some UI issues that might be caused by my lack of experience with Vue and CSS.

Currently the sort arrows are not being rendered.  Just 2 boxes are being displayed in their place.  I am seeing the same behavior when viewing your demo page.  https://rubanraj54.gitbook.io/vue-bootst

[2019-02-27 17:12] Chris-Pratt-Clystnet commented on #12
Your first issue seems like strange one as it renders for me both on my own implementation and on the demo site, I would check that you don't have some weird caching issue.

The second issue I have run into my self and I think that area needs more work as it doesn't look great down at mobile level and at tablet level it can get a little weird. What I would like to see is this turned into a slot so

[2019-02-27 17:18] Chris-Pratt-Clystnet commented on #11
To do this follow the documentation on sorting and filtering and then in the backend when the request comes in you will have a "filters" and "sort" entry on the request.

Both of these will come in as an array with json encoded data in them for each entry.

[2019-02-27 17:24] Chris-Pratt-Clystnet opened #13 "Loading GIF will processing server request"
Would it be possible to have a loading icon shown in the table body while requests to the server are being handled.

I request this as I have run into instances where a user has a slow network connection and are getting confused on pages with a data table as all they see is is no data and have no idea that a server request is actually happening.

[2019-02-28 14:07] rubanraj54 commented on #12
Hi @JeffersonSchuler,

VueBootstrap4Table uses unicodes to show sort arrows and not all browsers and font types support all types of Unicode.  Even I faced this issue, the sort arrows are visible in my laptop and not in my mobile phone. Ref: https://stackoverflow.com/questions/15183061/does-every-browser-support-all-unicode

And I don't want to use an image for sort arrows by default, since eventu

[2019-02-28 14:09] rubanraj54 commented on #13
Hi @Chris-Pratt-Clystnet ,

That's a valid request and I've already had this feature in my todo list.
So Probably I will implement this feature in my upcoming release.

Cheers,
Ruby.

[2019-02-28 14:16] rubanraj54 commented on #11
Hi @daoudzd ,

I am thinking how this will work in a real scenario.

If you use the table in server mode, vue table will have only the data for the current page.
So in this case, I don't prefer to do sorting/filtration for the local data. That's how all other table components work.

 I know it is achievable, but I'm not sure about how many people use this feature.

So, I would suggest that wheneve

[2019-03-01 04:04] pordonez opened #14 "Can't get custom action buttons working"
Hi,

Delighted with the table.  Thank you.

I'm not able to get the custom action buttons working/visible.  All else works as expected.

I'm using the [Basic Usage](https://rubanraj54.gitbook.io/vue-bootstrap4-table/usage) sample with the [custom action buttons](https://rubanraj54.gitbook.io/vue-bootstrap4-table/custom-action-buttons) sample.

Any help would be greatly appreciated.  Thanks again,

[2019-03-01 08:20] rubanraj54 commented on #14
Hi @pordonez

Could you please make an example in codepen/fiddle to check your code?
else you can post your sample code here, I'll have a look at.

Cheers,
Ruby.

[2019-03-01 08:41] rubanraj54 commented on #12
Hi @JeffersonSchuler @Chris-Pratt-Clystnet

Reg second issue (clear button breaks down to the second line in smaller devices), I have made a clear button inside the input text itself with hover effects which looks nice in all screen size, and you won't get the issue again.

I made a few improvements too, the user can now decide whether he needs a clear button or not.
And the user can use a slot to

[2019-03-01 09:10] Chris-Pratt-Clystnet commented on #12
Those changes look great and just what I was looking for :-)

[2019-03-01 09:11] Chris-Pratt-Clystnet commented on #13
Thanks for the info I will keep a watch out for this update

[2019-03-01 12:16] pordonez commented on #14
Hi Ruby,  I've posted my App.vue and main.js files [here](https://gist.github.com/pordonez/1faa75a0eb7c5031db2c22bdae25ca26).

Thanks, Peter

[2019-03-01 13:37] rubanraj54 commented on #14
Hi @pordonez

Sorry, in the document I missed passing actions to vue-bootstrap4-table. I updated the document & you can use the following example.

[code]

Cheers,
Ruby.

[2019-03-01 16:49] pordonez commented on #14
Thank you Ruby.  This works.  You truly are a gem.

[2019-03-01 16:49] #14 closed

[2019-03-01 22:51] pordonez commented on #13
It would be nice if we could control/bind to the "No results found" message.  Thank you.

[2019-03-02 08:58] rubanraj54 commented on #13
Hi @pordonez ,

You could use "empty-results" slot to override the "No results found" message.

**Example:**
[code]

Cheers,
Ruby.

[2019-03-02 09:01] rubanraj54 commented on #14
Thanks for your comment. If you would like to support this plugin development, please give this repository a star. :+1:

[2019-03-04 13:52] Chris-Pratt-Clystnet opened #15 "Row classes classes not working"
I am currently trying to pass in a custom class for a row with the below code

[code]

I have an entry in my css like so

[code]
Now when the table loads this class is not applied to the row but if i do the same with the column class it works fine, I am not receiving any console errors either. Any help on this one?

[2019-03-04 15:44] rubanraj54 commented on #15
Hu @Chris-Pratt-Clystnet

you can override row, cell, column default classes by passing "classes" object as a prop to vue-bootstrap4-table component as shown in the below example. For advanced usage examples, please refer this link https://rubanraj54.gitbook.io/vue-bootstrap4-table/custom-classes.

**Usage type 1:**
[code]
**Usage type 2:**
[code]

Cheers,
Ruby.

[2019-03-04 22:39] Chris-Pratt-Clystnet commented on #15
@rubanraj54 Nice, will give that try

Thanks

[2019-03-04 22:39] #15 closed

[2019-03-05 15:21] daoudzd commented on #11
hello thank you @rubanraj54  and @Chris-Pratt-Clystnet  for the explanations i managed to sort and filter data in the backend (spring boot application)

[2019-03-05 16:46] rubanraj54 commented on #11
Good to hear that.

I will close this issue.

Cheers,
Ruby.

[2019-03-05 16:46] #11 closed

[2019-03-06 15:38] abdulkhaderp opened #16 "Pagination : Preserve current index"
This is not really an issue, but a help /feature request . My customer want to preserve the current pagination index while he refresh the data . For example, if the user is at page 4, and he refresh the table data ( i assign new server response to this.rows) , he want to be at page 4 itself with updated data. Any luck ?

[2019-03-06 17:14] JeffersonSchuler commented on #12
Those changes are most welcome.  Thank you.

[2019-03-06 21:37] rubanraj54 commented on #16
Hi @abdulkhaderp

Thanks for pointing out this. Right now there is no way to preserve the current pagination index.

But it is a valid feature request. I will consider this request & probably make a configurable option to let the user choose whether to preserve the current index or not if there is a data change.

I will implement this feature in the upcoming release (most probably this weekend).

[2019-03-07 09:09] Chris-Pratt-Clystnet opened #17 "Card title div"
Would we be able to get a slot or some way to effect the title div on the card as currently it is hard coded to be centred and currently i need it to be left aligned and I would like the ability to add extra things to that title div, e.g. extra buttons.

Now i have got around this for now by turning off card mode and doing the card part myself but it would be great to have this all built in :-)

[2019-03-07 18:04] rubanraj54 commented on #17
Hi @Chris-Pratt-Clystnet

Thanks for letting me know. I will consider your request. :-)

Cheers,
Ruby.

[2019-03-08 09:28] sdrig opened #18 "Keeping the current index when queryparams have been changed"
Hi,
I would like to thank for this amazing grid. I've been trying to solve one of my requirements that says when the current queryparams changed the page index has to be changed to 0 (zero).

repro :
1- call fetchdata when component mounted.
2- change page index to 2
3- enter some value into the global search.(considering that server will response only one page)
4- grid does not show any result du

[2019-03-08 14:32] rubanraj54 commented on #18
Hi @sdrig

Thanks for letting me know this issue. I will try to reproduce this issue and fix it in my next release (probably this weekend).

Cheers,
Ruby.

[2019-03-08 15:31] daoudzd opened #19 "Column multi filter options from an array variable"
hi
i can't use an array of items for column filter options,
for example:
**array variable**
![image](https://user-images.githubusercontent.com/13900466/54037868-134aca80-41b7-11e9-91c0-5c1c33cb84f2.png)

**column**
![image](https://user-images.githubusercontent.com/13900466/54037697-b18a6080-41b6-11e9-922b-0b23f12b8b54.png)

**result**
![image](https://user-images.githubusercontent.com/13900466/54

[2019-03-08 16:47] rubanraj54 commented on #19
Hi @daoudzd ,

can you please post all your list items?

Cheers,
Ruby.

[2019-03-08 22:43] rubanraj54 commented on #19
Hi @daoudzd ,

I see the problem now. You're referencing a data property to another data property. But this doesn't work in vue. Reference : https://stackoverflow.com/a/46491490/2708249

What you can possibily do is, let keep the options as empty array and assign the options in the mounted function.

For example, let say you have your options in `Listes` data variable and assign empty array to you

[2019-03-08 23:03] rubanraj54 commented on #18
Hi @sdrig

I couldn't be able to reproduce this issue.

In the current version, if there is a change in queryParams it triggers an event and the user can fetch new data and assign it to the table. So now the table will move the index automatically to the initial position (zero).

If you can make a fiddle/codepen, it would be easy for me to debug more in-depth.

Cheers,
Ruby.

[2019-03-09 14:56] rubanraj54 commented on #17
Hi @Chris-Pratt-Clystnet

I released a new version today which includes this feature.

Now you can override card header & footer using slots.

Example:
[code]

I will close this issue now.

Cheers,
Ruby.

[2019-03-09 14:56] #17 closed

[2019-03-09 14:58] rubanraj54 commented on #12
Hi @JeffersonSchuler @Chris-Pratt-Clystnet

A new release has been rolled out today. You can update your package to get this new feature.

I will close this issue now.

Cheers,
Ruby.

[2019-03-09 14:58] #12 closed

[2019-03-09 15:38] rubanraj54 commented on #16
Hi @abdulkhaderp,

I implemented this feature in today's release. So please update the package and try it out.

To enable preserving pagination index, you should set "preservePageOnDataChange: true" in the config.
By default, it is set to false.

Cheers,
Ruby.

[2019-03-09 18:40] rubanraj54 commented on #18
Hi @sdrig ,

I implemented a few features in today's release which includes preserving the page index. So please update the package and try it out.

To enable preserving pagination index, you should set preservePageOnDataChange: true in the config.
By default, it is set to false.

In your case, I guess it will work out of the box. Whenever query changes, then the page index will become 0 (first pa

[2019-03-11 09:00] daoudzd commented on #19
hello @rubanraj54 ,
thank you its working as you described 👍

![image](https://user-images.githubusercontent.com/13900466/54111558-0eb32b80-43dc-11e9-94c8-04e291a73a10.png)

[2019-03-11 09:07] rubanraj54 commented on #19
Great, I am closing this issue now.

[2019-03-11 09:07] #19 closed

[2019-03-11 09:45] abdulkhaderp commented on #16
Thanks @rubanraj54 . I will try it out.

[2019-03-11 09:45] #16 closed

[2019-03-11 09:56] rubanraj54 commented on #16
Great.. if you would like to support this plugin, please star this repository.. 😀

[2019-03-11 14:43] NikolaiT opened #20 "doesnt work"
when following your instructions by including the following scripts

[code]

it yields the error

[code]

if i try to include vue js from some cdn

[code]

doesn't work either:

[code]

Please provide a README with an exampel how to use your software over CDN that works when I copy paste it. I don't want to read through 100 variations to start using that software.

[2019-03-11 16:47] rubanraj54 commented on #20
Hi @NikolaiT ,

The first issue is valid since there is no vue library is included.

After you include the vue library, table component should definitely work and also the error is unclear. It is unsure to tell that the second error `Uncaught SyntaxError: Unexpected identifier` is coming from table plugin itself.

I made a simple codepen example (https://codepen.io/rubanraj54/pen/qvPBBr) with your

[2019-03-12 04:46] sdrig commented on #18
It's working like a charm! Thanks

[2019-03-12 04:46] #18 closed

[2019-03-12 09:36] rubanraj54 commented on #18
Hi @sdrig ,

Good to see that it works.

If you would like to support this plugin, please star this repository :-)

[2019-03-12 15:20] sdrig opened #21 "Feature: Initialize Filters with default values"
Hi,

It would be nice feature if filters can be set before fetching data.
For example: User open the page with a query param. _Like Title=Teacher_ and  have a multi-select filter or free text filter, It could search with {title:"teacher"} params when grid initiated.

[2019-03-12 15:51] rubanraj54 commented on #21
Hi @sdrig ,

Yes it makes sense, I will consider this feature for my next release.

Cheers,
Ruby.

[2019-03-12 17:35] pordonez opened #22 "row_classes align-middle not working"
Hi,

Apologies if this is a dup of issue #15.

I've included an icon in a table data that I'm trying to middle align.  I've added the following to my columns array but it's not working:
        {
          name: "check",
          row_classes: "align-middle"
        },

My understanding is that "align-middle" should be added to the corresponding td, but that doesn't appear to be happening.  If I m

[2019-03-12 22:01] #21 closed

[2019-03-12 22:01] #22 closed

[2019-03-12 22:08] rubanraj54 commented on #22
Hi @pordonez

Thanks for letting me know this.

I was wondering why it is not working and found that in previous release I commented out few lines of code for testing and forgot to uncomment them.

I fixed this in new release 1.0.29. So could you please update your package to get this working.

Also, if you would like to use advance overriding classes for row, columns, cells, etc,, please checkout

[2019-03-12 22:12] rubanraj54 commented on #15
Hi @Chris-Pratt-Clystnet,

I found the root cause for this issue and fixed in current version.

You can now use `row_classes: 'yourclass'`  in any column configuration to apply the class for simple usecases. For complex usecase you can checkout examples from here https://rubanraj54.gitbook.io/vue-bootstrap4-table/custom-classes like I've said before.

Issue fix ref: #22

Cheers,
Ruby.

[2019-03-12 22:32] rubanraj54 commented on #21
Hey @sdrig,

I implemented this feature in the new release 1.0.30.

Could you please do a test with your application and let me know your feedback and improvements.

Still I didn't updated my documents. So here I describe How you can set initial filter options.

**Simple Filter example:**

[code]
**Select Filter example (Single):**

[code]

**Select Filter example (Multi):**

[code]

**Global filt

[2019-03-13 05:42] sdrig commented on #21
Hi @rubanraj54 ,

Filter init working but Custom filters like date-range, became invalid dates after upgrading 1.0.30

![image](https://user-images.githubusercontent.com/5999700/54255881-e7d72f80-456a-11e9-86c4-fa10120d517e.png)

Thank you
Sadri

[2019-03-13 07:46] rubanraj54 commented on #21
Hi @sdrig

Since I have'nt finished implementing custom filter officially, I didn't consider custom filtering for this feature.

Probably, I will include the "custom" type filtering also in my next release.

And keep in mind that, I can only set the initial values to the queryParams but you have to manually update the initial value in your custom element since you have the control over it.

Cheers

[2019-03-13 14:22] Chris-Pratt-Clystnet opened #23 "Single and Multi Filter Click Not Functioning"
I am not quite sure when this started happening but it must of been with one of the latest releases but now when ever i click on a item in a single/multi select filter then nothing happens.

I have checked and Vue is emitting the on-select-option event but i'm guessing something is going wrong after that and the on-change-query event is not being emitted.

[2019-03-13 15:38] #23 closed

[2019-03-13 15:40] rubanraj54 commented on #23
Hi @Chris-Pratt-Clystnet

That's right, this issues was caused because of the new feature "initializing filters before table rendering".

Thanks Chris for letting me know that. I fixed it and available in new version 1.1.1

Cheers,
Ruby.

[2019-03-13 16:49] pordonez opened #24 "case insensitive sorting"
Hi,

It appears that sorting is case sensitive so, for example, items starting with "Z" appear before those starting with "a" after sorting.  Can you add support for case insensitive sorting and make it configurable?

Thank you, Peter

[2019-03-13 17:47] rubanraj54 commented on #24
Hi @pordonez ,

Your idea really makes sense.

I'll include this feature in my next release..

Cheers,
Ruby.

[2019-03-13 21:25] rubanraj54 commented on #24
Hey @pordonez

I've implemented this feature in my current branch. So you can use it from next release.

Cheers,
Ruby.

[2019-03-14 13:33] daoudzd opened #25 "action button ccs"
hi, is there any way to change actions button css classes, if not can you provide an option to change class="btn btn-primary" to something else?

[2019-03-14 14:39] rubanraj54 commented on #25
Hi @daoudzd

Currently there is no way, but I can add this feature in my next release.

Cheers,
Ruby.

[2019-03-14 21:56] #24 closed

[2019-03-14 21:56] #25 closed

[2019-03-14 22:01] rubanraj54 commented on #24
Hey @pordonez ,

This feature is available from version 1.1.2. This is not yet documented in Readme.

Usage:

[code]

Cheers,
Ruby.

[2019-03-14 22:05] rubanraj54 commented on #25
Hey @daoudzd

This feature is rolled out in new release 1.1.2. Note that, still this is not yet documented in Readme.

Example:

[code]

Cheers,
Ruby.

[2019-03-15 09:49] daoudzd commented on #25
thank you

[2019-03-15 10:04] daoudzd commented on #25
i tested it in [https://codepen.io/rubanraj54/pen/zyZdzN ](url) and found that ` class: "btn btn-primary"`  is working but

but `btn_text: '<span>Download <i class="fas fa-download"></i></span>',` is not working

[2019-03-15 10:07] daoudzd commented on #25
and noticed that buttons ccs in filter changed from
![image](https://user-images.githubusercontent.com/13900466/54424119-1e977c00-470a-11e9-8222-e1b2eab5e851.png)

to

![image](https://user-images.githubusercontent.com/13900466/54424136-2a833e00-470a-11e9-8d02-fc5ea21fca48.png)

[2019-03-15 11:32] rubanraj54 commented on #25
Hi @daoudzd ,

I didn't updated new version in the codepen. That's why it wasn't working there.

I made a codepen example here https://codepen.io/rubanraj54/pen/Oqvgwj .

And note that, if you want to show the icon you should include some icon packages in your project.
In my example I used fontawesome css package to show download icon.

[2019-03-15 11:35] rubanraj54 commented on #25
you can take a look at this issue #12 for more details why I change the design. Also now it is configurable to enable or disable clear buttons in global search and simple filter, and also you can override the clear button icon for your choice.

[2019-03-15 15:10] pordonez opened #26 "global search class"
Hi,

I'd like to add classes to the global search to, for example, increase the margin.  Is that possible?

Thanks, Peter

[2019-03-15 16:09] rubanraj54 commented on #26
Hey @pordonez

Currently, it is not possible, But I will consider this feature in my next release.

Cheers,
Ruby.

[2019-03-15 16:16] pordonez commented on #26
Thank you Ruby.  I added a margin to the action button and I'd like to do the same for the search field for a consistent look.  Thanks again, Peter

[2019-03-19 02:28] pordonez opened #27 "Action button out of view with wide column"
Hi,

Not sure if anything can be done about this but I noticed that the action button(s) can become out of view with wide columns.  I reproduced the issue with your code pen.  Notice that the Download button is out of view.
<img width="1126" alt="Screen Shot 2019-03-18 at 10 19 45 PM" src="https://user-images.githubusercontent.com/235676/54575976-ba580f00-49cc-11e9-8039-3044b0d37a29.png">
Please l

[2019-03-19 18:26] tettoffensive opened #28 "Requesting a way to add an item"
Hey, this is really useful, as I was otherwise going to build something like this from scratch.

I'm using it to make a CMS that interacts with a Firebase backend. I'd really like to be able to:

1. Have a row where I can add an item directly inline.
2. Be able to edit rows and click a button to update.

[2019-03-19 20:16] rubanraj54 commented on #28
Hi @tettoffensive

Thanks for the suggestion.

I've been thinking a similar feature like this, but till 3rd week of April, I will be busy with my thesis work. So can't start implementing a big feature like this before that. However, we can talk here about the idea and how the workflow will look like.

This is what I thought of,

1. Have a separate actions column to edit or delete a specified row.

[2019-03-19 20:38] rubanraj54 commented on #27
Hi @pordonez,

I also faced this issue a few months back.

I had only two options,

**Option 1**
Let the user scroll left to find the action buttons, I know this is an ugly option.

![Screenshot from 2019-03-19 21-22-57](https://user-images.githubusercontent.com/10024405/54639854-a83ea500-4a8e-11e9-916c-964f55647506.png)

**Option 2**
 Apply your custom class to all <td> with style "word-break: br

[2019-03-19 20:40] rubanraj54 commented on #20
Hi @NikolaiT

Closing this issue since there is no activity for a week. However, you can always reopen this issue or create a new one.

Cheers,
Ruby.

[2019-03-19 20:40] #20 closed

[2019-03-19 20:51] pordonez commented on #27
Super!  I'll try option 2 for now, and consider modifying the empty row when/if that feature becomes available.  Thank you, Peter

[2019-03-19 23:30] rubanraj54 commented on #27
You're welcome @pordonez .

I updated my comment above FYI.

And I hope, you know to add your custom class to cells.

Cheers,
Ruby.

[2019-03-19 23:31] #27 closed

[2019-03-20 13:01] grafxflow opened #29 "Parse the queryParams in php via Laravel from the array to object."
Is there a way to parse the queryParams in php via Laravel from the array to object.

I have tried...

[code]

But I get an object which contains the arrays inside.

[code]

[2019-03-20 18:20] grafxflow commented on #29
Issue has been sorted.

[2019-03-20 18:32] grafxflow opened #30 "12. Custom action buttons"
Is it possible to add font awesome icons to custom actions? plus choose wether to place them above or below the table layout?

**12. Custom action buttons**

[code]

P.S. This is a really great vue js component :)

[2019-03-20 18:47] rubanraj54 commented on #29
Hi @grafxflow ,

Good to see that you solved this issue.

Anyway, I will give my thoughts about this issue here so it will be helpful for others.

Long back I also faced this issue when I used this component with Laravel.

In the below code, you can see how to decode the json string to object or array style and how to access them.

[code]

Hope this helps you, as well as others in future. I will c

[2019-03-20 18:47] #29 closed

[2019-03-20 20:17] grafxflow commented on #30
For now I have added them separately on the vue page.

[2019-03-20 21:40] rubanraj54 commented on #30
Hi @grafxflow

Thanks for your suggestion. Right now there is no option to add a slot for action buttons. However I will consider this request and implement it in future release.

Now you can add icon or icon with text via "btn_text" attribute in action button. To achieve this, i recommend you to load font awesome icons package via CDN.

1. Load fontawesome in your html `<head>`
[code]
Now you can

[2019-03-20 21:46] grafxflow commented on #30
Okay thanks for that, the only issue is that I am loading only the font-awesome icons I am using in order to keep the app.js file size down.

Is there any other way to return html as maybe a method?

[2019-03-20 22:09] rubanraj54 commented on #30
Hi @grafxflow ,

I found a workaround for this issue and fixed it in the develop branch (you can verify the commit above). Now you can achieve what you requested for.

**Action config**
[code]
**Slot Usage**

[code]

This is still in the develop branch, and releasing a new version on this Friday. So you can use this feature from next version.

Cheers,
Ruby.

[2019-03-20 23:31] grafxflow commented on #30
So if I understand it correctly I could target a column in the table and place this and other buttons inside?

[2019-03-21 08:55] rubanraj54 commented on #30
The new commit fixes the actual issue #30 "slot for custom action button icons(Vue component icon)".

The Buttons inside a separate column is already possible. I made a new codepen for you https://codepen.io/rubanraj54/pen/ywRdMB.

![Screenshot from 2019-03-21 09-53-45](https://user-images.githubusercontent.com/10024405/54741606-46ca2380-4bbf-11e9-8716-aa003ffac616.png)

I hope this codepen will h

[2019-03-21 09:27] grafxflow commented on #30
Thanks Ruby.

That's perfect 👍

[2019-03-21 14:25] grafxflow opened #31 "2 or more instances of tables on the same vue page?"
Is it possible to have 2 or more table instances on the same vue page?

[2019-03-21 14:31] rubanraj54 commented on #31
Why not? It is possible.

But keep in mind that, You should have different config, rows and columns data for each table if all the tables look different.

If all table looks same, but only the data is different, you can reuse the config and columns data. (But I always use different config & columns data for different tables eventhough all tables looks same - for easier debugging).

https://codepen

[2019-03-21 14:36] grafxflow commented on #31
Perfect works a charm. 👍

[2019-03-21 15:32] #31 closed

[2019-03-21 16:27] tettoffensive commented on #28
@rubanraj54 Your way would work. I had in mind something slightly different than a pop up modal. I was thinking more inline. Like the first or last row would have input fields that you could type into and click a button that says add or something.

I'm not sure which is better. Though I do tend to avoid modal pop ups. And I think there would need to be a good way to prevent people from creating du

[2019-03-21 16:37] tettoffensive opened #32 "Id not being passed to on-select-row payload"
For background, I am using `"vue-bootstrap4-table": "^1.1.2"` to display elements in my firebase firestore database. I am using a package called `"vuefire": "^2.0.0-alpha.20"`.

This gives me an array of objects which have 3 properties `image_url`,`subtitle`,`title`, along with an `id`.

When I do my own `v-for` loop I am able to access all the properties as well as the `id`. But for some reason t

[2019-03-21 16:56] rubanraj54 commented on #32
It is really strange. Could you please make a codepen example to debug more?
But in your console message, I can see the 'id' field.

I've made a codepen example for you, and I can access id from the selected row. And you don't need to have the id column in the table.
https://codepen.io/rubanraj54/pen/qvQPRe

Cheers,
Ruby.

[2019-03-21 17:00] rubanraj54 commented on #28
This is also a nice suggestion, I will look into it.

[2019-03-24 21:54] grafxflow opened #33 "Custom filter type or overpower disable input?"
I am trying to do an automated column query in Laravel which looks like below.

[code]

Now this works fine for things like Firstname and Lastname which are actual columns in the database, but I want to CONCAT them in the output table and query this as well. It causes a problem due to the column name not existing in the database because it's a custom name.

[code]

Can I add a custom filter name i

[2019-03-25 10:53] rubanraj54 commented on #33
Hi @grafxflow ,

can you try something like this temporarily?

Create an array with possible concat fields and check the `$value->name` is present in the array or not.
If it is present in the array, then do concat search else do normal search.

[code]

But I will try to add more information with the filter object to identify the fields more uniquely. May be i will add the column slot name along wi

[2019-03-25 11:26] grafxflow commented on #33
Hi @rubanraj54,

Thanks for the reply, it's pointed me in the right direction :)

cheers
grafxflow

[2019-03-25 11:34] rubanraj54 commented on #33
Glad that it helped you.

Cheers,
Ruby.

[2019-03-25 11:34] #33 closed

[2019-03-26 14:26] Boultip opened #34 "Filters above table"
Hi,

I really like your component. I started using it last week and I really appreciate the work you've done.

I was wondering if there is an easy way to render the filters in a box above the table. I've many data to display, and putting inputs on the first row isn't a nice solution for me.
If you have any idea of how I can achieve this goal, that will be very helpful!!

Cheers

Marie

[2019-03-28 18:39] chenxingyu9 opened #35 "How do i explicitly target and tick a specific row when adding an dynamic element to a an empty row.?"
Eg: I have 5 items already in the table but I wanted to target row 2 or multiple rows ticked explicitly without clicking the row using id or other reference? Thanks.

[2019-03-29 11:16] rubanraj54 commented on #34
Hi @Boultip

Thanks for your valuable comments.

Currently, there is no option to do it from the table component itself.

But you can implement your own filter component on the top/bottom of the table component and you've to write the functions to filter the data and pass only the results to the table component.

If you've any other suggestions, please let me know. I will try to implement them.

C

[2019-03-29 11:19] rubanraj54 commented on #35
Hi @chenxingyu9 ,

Currently, this option is unavailable. But this is a valid request because in some scenarios users want to show the table with preselection.

I will consider this as a feature request and try to implement this on the upcoming release. If you've any other suggestions on how this could be done, please comment here.

Cheers,
Ruby.

[2019-04-03 10:18] sdrig commented on #28
Inline edit or add actions would be very useful. Popup also can be good fit but there would more complexity like form layout design would take long time more than inline option.

[2019-04-03 10:22] sdrig commented on #21
Hi @rubanraj54 , you are right. The issue was about model binding for custom filter. It's on the way now. Thanks again

[2019-04-03 14:41] marc-tech opened #36 "Filter type: "Float""
Hi,

It is a very good job congratulation !!!

The only thing I need is to sort it by price because now the filter when I pass float numbers is wrong.

Example min to max:
15.99
2.99
25.99
...

Maybe it can be regulated without new type or by adding a float type that takes 2.99 or 2.99.
I hope I was enough clear :/
Thank you for your work !

[2019-04-03 19:26] rubanraj54 commented on #28
Hi @sdrig ,
Good to see you again here.

Yes, you're right. It is easy to implement inline add item row than a popup.

I'll try to implement this feature in this month end.

Cheers,
Ruby.

[2019-04-03 19:27] rubanraj54 commented on #32
Closing this issue since there is no activity for more than 10 days.

[2019-04-03 19:27] #32 closed

[2019-04-04 06:23] ojas360 opened #37 "Clearing selected rows"
When i selected a row from the checkbox table and perform some action on the rows.
The rows get unselected but the header checkbox remains checked.
How do i unselect the rows explicitly from any method?

Example:
![image](https://user-images.githubusercontent.com/7880879/55533845-3a21f100-56d0-11e9-9ae8-4cb55e6cd9bd.png)
Here the rows 1 and 2 also selected but they are not showing.
Actually they s

[2019-04-04 11:25] rubanraj54 commented on #37
Hi @ojas360

Sorry, I couldn't understand the problem.
Could you please give me more information or a codepen example would be more easy to debug.

[2019-04-05 08:09] rubanraj54 commented on #36
Hi @marc-tech

I don't understand the problem. Are you saying the sort the not working properly for floating values?

But I tried an example with float values and its working good. You can have a look in this codepen example https://codepen.io/rubanraj54/pen/VNeLyV .

If you've other problems with float sorting, could you please make a codepen or fiddle example?

Cheers,
Ruby.

[2019-04-05 14:49] marc-tech commented on #36
Ah I see.. it's because my prices was in string :$
https://codepen.io/anon/pen/bJedrZ
Thanks for your time ;)

[2019-04-05 21:33] rubanraj54 commented on #36
Makes sense. Please convert the price values to float or number type before passing it to the table component.

I will close this issue now.

Cheers,
Ruby,

[2019-04-05 21:33] #36 closed

[2019-04-08 08:08] soongsta opened #38 "Get Selection"
Hi There

Is there a way to access the selected rows in (for example) the onDownload

 onDownload(payload) {
      //process selected items
      console.log(payload.items)
    }

Or do we track the selected items through a local array?

[2019-04-08 09:16] rubanraj54 commented on #38
HI @soongsta

Currently, it doesn't support sending selected items in the payload.

But it is a valid request, so I will consider implementing this in my next release.

Cheers,
Ruby.

[2019-04-08 09:17] rubanraj54 commented on #37
Hi @ojas360

currently What version are you using?

[2019-04-08 09:20] ojas360 commented on #37
I am using version 1.1.2.
The process i am following is:

On select of rows, i m inserting rows into another array.
On some processing on that data after success i am modifying the rows of the datatable by using map()
When i modify the rows, the rows get deselected on the UI, But they are actually selected (as shown in the image attached).

[2019-04-08 11:52] soongsta opened #39 "date range"
Hi @rubanraj54, is it possible to filter a date column with a daterange picker?
I am just wondering if table has a 'date of birth' column, how you would filter all birthdays this week or this month (for example)

[2019-04-08 23:44] nullday opened #40 "Row value empties after sort if it contains reference to element of array"
Each row in my dataset has a key `items` that contains array of objects and each object has key `title`.

Example:
[code]

I have a column called `title` with name that contains reference to element of array (`name: 'items[0].title'`).
It works fine, the table renders the value.
But when you sort on any column, all the values in that title column disappear, just an empty string.

If you remove arr

[2019-04-09 09:19] rubanraj54 commented on #39
Currently, I am working on this feature.

In future release, you'll get a custom filter option as well as date range filter.

For date range filter, I am planning to use an external vue component from here https://github.com/Innologica/vue2-daterange-picker .

For the next two weeks, I don't have time to work on this component. So please bear with me.

Cheers,
Ruby.

[2019-04-09 09:19] rubanraj54 commented on #40
Hi @nullday

It is really strange. Please give me some time.

I will have a look into this and fix this issue.

Cheers,
Ruby.

[2019-04-09 12:53] Boultip commented on #34
Hi,

Thank you for answering.

I've defined custom filters at the top of the table. It works well.

Cheers

Marie

[2019-04-09 22:10] soongsta commented on #39
Awesome. Keep up the great work

[2019-04-10 04:02] 2IhsanWp commented on #39
yah, cant wait this date range filter feature is released. really need this function. @rubanraj54  thank for this awesome  vue-bootstrap4-table

[2019-04-10 09:56] ojas360 commented on #37
Currently made it working by assigning ref to the table and then

this.$refs.refname.unSelectAllItems();

[2019-04-10 09:56] #37 closed

[2019-04-11 09:17] rubanraj54 commented on #40
Hi @nullday

I've tried a scenario as you said, but it is working perfectly. You can check in this codepen example https://codepen.io/rubanraj54/pen/oOWwBb

Table can able to render the values in the column and the values are not disappering from "Title" column after any column sorting. If you still have problem, please make a codepen example for me. It would be easier for me to debug.

Cheers,
Ru

[2019-04-11 09:49] rubanraj54 commented on #38
Hi @soongsta

Now you can get the "selectedItems" array along with the action buttons event payload.

[code]

There is another way to access the selected row's data directly (Note: But this is not a right approach, still in this case you can use it)

**Example:**

Set a `ref` name to the table component.

[code]

And in your code, you can access the selected_items directly as shown below.

[code]

[2019-04-11 09:54] #26 closed

[2019-04-11 09:54] #30 closed

[2019-04-11 09:54] #38 closed

[2019-04-11 09:58] rubanraj54 commented on #30
Hi @grafxflow

Adding "Font awesome icon" vue components icon for custom action buttons is now available in new version. Please upgrade your package.

Cheers,
Ruby.

[2019-04-11 10:02] rubanraj54 commented on #26
Hi @pordonez

Now you can add class to global search.

[code]

Please upgrade your package to get this feature.

Cheers,
Ruby.

[2019-04-11 10:09] grafxflow commented on #30
Perfect :)

[2019-04-12 17:59] nullday commented on #40
Hey @rubanraj54
I'm so sorry, I've figure out that was an issue with my internal component..
I was modifying props indirectly and it led to this issue.

Sorry about that and thanks for great component!

[2019-04-12 17:59] #40 closed

[2019-04-15 15:09] 2IhsanWp opened #41 "Reset Query button error, Cannot set property 'value' of undefined""
Hi,

i have 2 tables in a different component and routing, let say user and product. in the first reload to user component the button its working fine, but when i change to  another route/product component, the reset button throwing  error Cannot set property 'value' of undefined" i need to refresh the current route to this button work correctly

im using version 1.1.2

![image](https://user-image

[2019-04-16 07:57] soongsta opened #42 "filter only when CR pressed"
Hi @rubanraj54

Is there a way filter only after the Carriage Return button has been pressed.
I am trying out server mode, and the ajax call is made for every key stroke.
Because of @on-change-query="onChangeQuery"

Kind regards

[2019-04-16 15:04] rubanraj54 commented on #41
Hi @2IhsanWp

This looks strange, I will give a try on my side and check what causes this error.

If you can make a codepen with this issue, then it would be easy for me to debug.

Cheers,
Ruby.

[2019-04-16 15:07] rubanraj54 commented on #42
Hi @soongsta

I will make it configurable in my next version. Also, I'll try to make a configuration for the debouncing duration between keystrokes.

Cheers,
Ruby.

[2019-04-17 02:13] soongsta commented on #42
Awesome

Thanks so much

On Wed, 17 Apr 2019 at 1:07 am, Rubanraj <notifications@github.com> wrote:

--

* Soong Chong | Managing Director *

--

EBR - Ever Better Recruitment

Level 13, 465 Victoria Ave Chatswood
NSW 2067

T: (02) 8001 6478

W: http:/www.ebr.com.au
<http://www.ebr.com.au>

 <http://www.linkedin.com/company/ebr>
<https://www.facebook.com/EverBetterRecruitment>
<https://twitter.com

[2019-04-18 07:01] hasangok commented on #41
I have same issue, looking forward to hear about updates. Thanks!

[2019-04-18 12:08] rubanraj54 commented on #41
Hi @2IhsanWp @hasangok

I've fixed this bug in the develop branch and tomorrow I'll make a new release with a couple of other fixes.

Please update your package tomorrow to avoid this error.

And, if you like this plugin please star this repository.

Cheers,
Ruby.

[2019-04-18 12:09] rubanraj54 commented on #42
Hi @soongsta ,

I've implemented this feature in the current develop branch and tomorrow I'll make a new release with instructions on how to use this feature.

Please update your package tomorrow and I'll post here how to configure this.

Cheers,
Ruby.

[2019-04-18 21:57] #41 closed

[2019-04-18 21:57] #42 closed

[2019-04-18 22:03] rubanraj54 commented on #42
Hi @soongsta

You can update your package to get this new feature.

[code]

Now you can set `filterOnPressEnter`  to `true` to enable the filtering on 'enter' key press. Also, if you want to filter automatically but with high time gap between keystrokes, then you can set `debounceRate`  to limit the trigger. The `debounceRate` should be in milliseconds.

For more information, you can refer this pa

[2019-04-18 22:05] rubanraj54 commented on #41
Hi @2IhsanWp @hasangok

This issue is fixed in version 1.1.4. So please update your package.

Cheers,
Ruby.

[2019-04-22 12:29] rubanraj54 commented on #35
Hi @chenxingyu9

Now you can target a specific row using `data-id` attribute attached with all the `<tr>` element.

You can specify the `uniqueId` in the column configuration which you want to use for `data-id` attribute.

### Example:
[code]

Now your row will have the `data-id` attribute with the id value from the given data.

![Screenshot from 2019-04-22 14-25-17](https://user-images.githubuser

[2019-04-22 12:29] #35 closed

[2019-04-23 11:57] pjsaran opened #43 "How to add edit/delete button at the end of each row?"
How to add edit/delete button at the end of each row? On clicking edit/delete i would like call a function.

[2019-04-23 14:28] rubanraj54 commented on #43
Hi @pjsaran

You can use row slots to achieve this.

Also, I've made an example for you here https://codepen.io/rubanraj54/pen/EJepqq .

I hope this codepen will help you. You can find more info about row slot here https://rubanraj54.gitbook.io/vue-bootstrap4-table/rows#row-slot .

Cheers,
Ruby.

[2019-04-24 01:40] nullday opened #44 "Margins from .row add horizontal scroll to the table"
Hi there.
So there is the official demo page of the plugin: https://codepen.io/rubanraj54/full/zyZdzN

Even if your browser can fit full width of the table there is a horizontal scroll at the bottom.
It's added by `.table-responsive` class because of extra margins of `.row` in header or footer of the plugin.
Here is the picture: https://imgur.com/a/6rcbU9J

Probably you shouldn't use `.row` not in

[2019-04-24 10:33] rubanraj54 commented on #44
Hi @nullday ,

Yes, you're right. This bug is because of the `.row` class that adds `margin-right: -15px`. And this is already discussed in bootstrap github issues https://github.com/twbs/bootstrap/issues/10711.

Now I fixed it in the plugin by resetting `margin-right: 0px` which removes the horizontal scroll bar if the table fits in the browser window and it adds the scroll bar when you resize th

[2019-04-24 17:28] nullday commented on #44
Maybe it's better just to use `no-gutters` class?
I believe that `.row` should be used inside `.container` by design: https://getbootstrap.com/docs/4.3/layout/grid/

[2019-04-24 22:42] rubanraj54 commented on #44
Hi @nullday ,

Thanks for pointing out the no-gutters class. I ll use it in the plugin.

[2019-04-25 06:35] pjsaran commented on #43
Hi @rubanraj54

Thanks for the example. It works fine for me now.

[2019-04-25 06:35] #43 closed

[2019-04-25 08:20] rubanraj54 commented on #44
Hi @nullday

I added 'no-gutters' class in the plugin itself and a new version will be released soon with this fix.

Cheers,
Ruby.

[2019-04-25 20:05] nullday opened #45 "Feature Request: config option to always emit query params, prop to restore the state"
Here is my use case.

I use all sorts, filters and etc on frontend.
But I would like to keep all the query payload in my url, so if user leaves the page and then click back, he will see same picture (sorts, filters, global search and etc).
It really helps if you work with table with hundreds of rows, use some filter, go to another page and then leave the page clicking on some link.

You already ha

[2019-04-25 20:15] nullday opened #46 "Feature Request: pass custom action buttons via slots"
Currently you have support of custom action buttons via a property in component.
This is a nice feature and I use it a lot.
But it's pretty limited when you need to customize it more deeper.
For example, if I want to disable specific action button after the click or make it disable based on some condition.
Or show some buttons based on user permissions.

Ideal solution would be ability to pass who

[2019-04-26 08:15] rubanraj54 commented on #46
Hi @nullday

Thanks for the valuable suggestion.

I've wrapped the existing custom action button group inside a new slot `vbt-action-buttons`.
Now you can use your own button group instead of the default one.

I've already made the changes the `develop` branch and you can use this feature from next release.

### Example

[code]

Note: use `float-right` class in the button group for good look.

Che

[2019-04-26 08:24] rubanraj54 commented on #45
Hi @nullday

I am already working on implementing the URL mode to preserve the table state.
I will let you know once this feature is implemented completely.

And, it makes sense to emit queryparameters after every change in table state in client mode too. I will consider this request.

Regarding your last request (queryParamsPayload), you can init sort, filter, & global search using the `init` in

[2019-04-30 09:31] 2IhsanWp opened #47 "How to filter and sort in server mode (question)"
hai @rubanraj54

my base is url http://localhost:8081/product/list?

if i wanna multiple filter in column product_name and column color backend must receive
http://localhost:8081/product/list?product_name=smartphone&color=red

how to achieve that because onChangeQuery function update the new query param to be
http://localhost:8081/product/list?filter&sort&per_page&page

[2019-04-30 15:45] alexCampus opened #48 "Checkbox Row"
Hello,
I have a problem, Is it possible to selected row from data.
I have a api and i need to checked somme row in the table , is it possible ?
What is the good way to do that.

Thanks

[2019-05-02 19:56] shivanaru opened #49 "Error in callback for watcher "query.filters": "TypeError: Cannot read property 'toString' of null""
If a column has null values, then adding a column filter on that column throws an error: Error in callback for watcher "query.filters": "TypeError: Cannot read property 'toString' of null".

[2019-05-06 09:27] hasangok commented on #39
Hey @rubanraj54

Thanks for all your effords. I  tried flatpicker for date range filtering but can't make it work. I'm also looking forward to have this feature out-of-the-box.

Regards,

[2019-05-13 09:29] soongsta commented on #42
Hey @rubanraj54 ,

I think there is a slight issue, when I use filterOnPressEnter with server side
Steps to reproduce.
1. user types a filter criteria, presses TAB to move to the next column
2. user types a second filter criteria , presses CR

Expectation, both filter criteria is applied
Actual: only the current column criteria is applied

[2019-05-13 11:15] soongsta opened #50 "Simple filter of type 'select', close on selection"
Hi @rubanraj54

This is a enhancement request.
Would it be possible that after the user chooses a item from the 'select' filter, for the dropdown selection to close.

Right now, it stays open until the user clicks away.

This would apply to the 'multi' select filter as well

Cheers

[2019-05-13 11:19] soongsta opened #51 "Clicking the 'reset query' button, reset to initial value"
Hi @rubanraj54

Would it be possible when the user clicks the 'reset query' button, the filters are reset to the initial values, rather than empty

Cheers

[2019-05-13 23:13] chemeng opened #52 "Sorting money"
Hey, is there a way to sort currency? For example: values $11.0 and $104.0 get sorted the wrong way since it assumes that everything is a string.

[2019-05-14 00:28] #52 closed

[2019-05-14 00:29] chemeng commented on #52
I was able to make it work using slots for formatting and treating everything as floats

[2019-05-14 05:39] rubanraj54 commented on #49
Hi @shivanaru ,

Thanks for reporting the issue. I've fixed this issue in develop branch.

Cheers,
Ruby.

[2019-05-14 05:40] rubanraj54 commented on #48
Hi @alexCampus ,

Currently it is not possible, But I will try to implement this feature in upcoming release.

Cheers,
Ruby.

[2019-05-14 05:49] #46 closed

[2019-05-14 05:49] #49 closed

[2019-05-14 05:52] rubanraj54 commented on #52
Good to hear that you solved the issue..

Cheers,
Ruby.

[2019-05-14 06:56] soongsta opened #53 "filter classes"
Hi @rubanraj54

You current have row_classes and column_classes for columns.
Can I request a filter_column_class for the column?

This will be useful for adding styling the filter input.

And adding functionality like daterangepicker
eg if filter_column_class = "daterange"

$('.daterange').daterangepicker();

Cheers

[2019-05-14 18:15] shivanaru commented on #49
Great! Thanks!

[2019-05-15 01:46] nullday commented on #45
Maybe somebody will find it useful.
I was able to implement my feature with this easy snippet:
[code]

P.S. Don't forget to add `ref="vueBootstrapTable"` to `<vue-bootstrap4-table></vue-bootstrap4-table>`

[2019-05-15 01:47] #44 closed

[2019-05-15 01:52] nullday opened #54 "Bug: initial value for global search doesn't work"
Hey there!

I try to assign initial value for search input:
[code]
But the actual input value is empty, like there is no initial value.
`data.global_search.init.value` - is correct.
`data.query.global_search` - is fine as well.

I've tried to fix it locally inside your library and it worked.
I've just added $nextTick, like this:
[code]

[2019-05-15 04:11] #54 closed

[2019-05-15 04:11] rubanraj54 commented on #54
Hi @nullday

This is a strange issue, it is working perfectly in my local machine and not working in the codepen example.

I guess it depends on the different machine's power, so I fixed it by calling initGlobalSearch() function inside $nextTick. Now I can see the init value in the global search input box in all different machines.

Thanks for reporting this bug and it is fixed in the new release

[2019-05-15 04:30] rubanraj54 commented on #50
Hi @soongsta

I've implemented this feature in the develop branch. Soon you will get this feature in next release.

Use can control the dropdown close on selection by enabling the new option **hideDropdownOnSelection** in the filter configuration. By default, it is set to false. And it works for both **single** & **multi** filters.

[code]

Cheers,
Ruby.

[2019-05-15 05:11] soongsta commented on #50
Awesome

[2019-05-15 19:04] nullday commented on #54
That was a fast fix!
Thanks.

[2019-05-15 22:41] nullday opened #55 "Bug: config.per_page resets config.page"
If pass `per_page` and `page` properties in the config, then it's always the first page.
If pass just `page` then it works fine, it renders specified page after mount.
If pass `per_page`, `page` and `preservePageOnDataChange: true`, then it works fine as well.
But in my case I would like to keep `preservePageOnDataChange: false` but be able to set a specified page that should be displayed after th

[2019-05-20 11:57] chemeng opened #56 "Formatted text in column"
Hey, what's the best way to show formatted text in a cell? For example let's say that I want to have a bold word so my td string is <strong>Example</strong>. How can I output the formatted text instead of the literal string? I tried using a "display: inline" css attribute in a custom slot but it doesn't seem to do the trick.

Thanks a lot!

[2019-05-20 16:20] rubanraj54 commented on #56
Hi @chemeng

You can achieve this using row slots.

Example:

[code]

You can find the working example in this codepen https://codepen.io/rubanraj54/pen/qGPqzB

For more information, visit the documentation page  https://rubanraj54.gitbook.io/vue-bootstrap4-table/rows#row-slot

Cheers,
Ruby.

[2019-05-20 22:27] chemeng commented on #56
Thanks for the reply Ruby! I'm actually trying to display dynamic, basically the props.cell_value will be equal to <b>Text</b> and I would like that to be evaluated as html not as string literal. Basically, I have a text editor that saves some text in rich html and would like to display that text within a particular element. Specifying the format explicitly with <b> would not work in that case.

[2019-05-21 03:17] rubanraj54 commented on #56
Hi @chemeng

You can user **v-html** render your content as html https://vuejs.org/v2/guide/syntax.html#Raw-HTML.

Example:

[code]

I updated the same codepen example too, please have a look here https://codepen.io/rubanraj54/pen/qGPqzB.

I hope this solves your problem.

Cheers,
Ruby.

[2019-05-21 09:37] chemeng commented on #56
Awesome, this does the trick perfectly! I didn't know about v-html but thanks for the tip!

[2019-05-21 09:37] #56 closed

[2019-05-22 09:48] chemeng opened #57 "Pagination option button"
Hey Ruby,

another small issue I have is with the pagination option dropdown button. The problem is whenever I click on it to change the number of items displayed per page, instead of getting a dropdown it just redirects to the top of the table acting like a link instead. Any idea why? Also when I set the card_mode to true the "Go to Page" input field becomes too small to hold the text.

Thanks,
T

[2019-05-22 15:43] rubanraj54 commented on #57
Hi @chemeng

I couldn't able to reproduce this issue. It would be great if you can make a codepen example and share the link here.

Cheers,
Ruby.

[2019-05-23 01:23] chemeng commented on #57
For the small text, if you turn on the card_mode in the demo codepen (https://codepen.io/rubanraj54/pen/zyZdzN) you can see that the word "page" disappears. For the button, I think some other class in my project is overwriting its functionality. I'll try and isolate it if possible.

[2019-05-24 14:06] tfassett commented on #48
Hi Ruby,

Any updates on this or tips on implementing ourselves?  I also have a similar need.

[2019-06-13 20:33] moosti commented on #57
Same issue with` bootstrap-vue.js`
please add `jquery`  to list of dependencies
Feature request : make it compatible with bootstrap-vue, so much easier

[2019-06-20 06:55] 95jonpet opened #58 "Select filters break Vue routing"
When clicking the filter button for "select" filters, the selection does not open and the route is changed to the root in a single page application using # to declare routes.

I am using vue-router.

[2019-06-22 05:31] rubanraj54 commented on #58
Hi @95jonpet

I will have a look at this bug.

Thanks for reporting.

Cheers,
Ruby.

[2019-06-25 09:02] adrieberg commented on #34
@Boultip

Would you mind sharing a small example there you define a custom filter on top of the table? Thanks!

[2019-06-28 14:56] Human626 commented on #39
Hey, I'm working on a project that requires this feature. Is this likely to become available soon?

[2019-07-02 09:58] Human626 opened #59 "Option to add custom filters"
It would be nice to have the ability to add custom filters - such as a date range

Also, is the date range filter likely to become available soon?

[2019-07-02 14:30] angelofenoglio opened #60 "Pre-select rows"
It would be nice to be able to not only give the rows information to the table, but also give the already selected rows, to avoid losing that information on a page reload.

Maybe as a new prop, passing only the indexes of the previously selected rows or something like that.

[2019-07-03 14:00] picakoch opened #61 "Bug: reset filter fails when global search is not visible"
Hello,

Firstly, thanks for this amazing component !
Just a minor bug, when the global_search is set to invisible, then the resetQuery function fails here (line 1038 of VueBootstrap4Table.vue)
[code]
since the ref does not exists if the global search is not visible. Because of the error, other filters are not reset.

Here is my config :
[code]
I guess a simple test around the line should be do the

[2019-07-18 10:11] Ghalibilal opened #62 "on-select-row"
how to customize the event on select row .To disable or enable some button etc

[2019-07-21 07:45] norangit opened #63 "prop 'totalRows' should be case insensitive when 'server_mode' is true"
Hi,

If server_mode is true, then prop 'totalRows' is needed, but it does not work. It will be parsed as 'totalrows', because attribute name in HTML is case insensitive. So prop 'totalRows' in file VueBootstrap4Table.vue should be update:

`props: {
        rows: {
            type: Array,
            required: true
        },
        columns: {
            type: Array,
            required: true

[2019-07-21 07:53] norangit commented on #63
props: {
        rows: {
            type: Array,
            required: true
        },
        columns: {
            type: Array,
            required: true
        },
        //should be totalrows
        totalRows: {
            type: Number,
            default: 0
        },
        config: {
            type: Object,
            default: function () {
                return {};
            }

[2019-07-24 13:47] sebj54 commented on #7
For those like who do not want jQuery just to toggle dropdowns, I coded a workaround in a custom component which wraps `<vue-bootstrap4-table>`.

Feel free to use it to fit your needs! :)

[code]

This component also allow to use the same slots than `vue-bootstrap4-table` easily!

[2019-07-28 18:03] rubanraj54 commented on #63
Hey @norangit

Thanks for reporting this.

I made a mistake when I wrote the documentation.

Actually, in JavaScript scope it should be "totalRows" which is correct in the current code.
But when you pass the prop the table component, you should use "total-rows". You can see the example here https://vuejs.org/v2/style-guide/#Prop-name-casing-strongly-recommended

I will update the documentation in

[2019-07-28 18:05] rubanraj54 commented on #62
Hey @Ghalibilal

I didn't understand which buttons do you want to disable/enable.

Could you please a little more elaborate or give an example.

Cheers,
Ruby.

[2019-07-28 18:05] rubanraj54 commented on #61
Hey @picakoch ,

Thanks for notifying me.. I will do the test and fix the bug.

Cheers,
Ruby.

[2019-07-28 18:25] #50 closed

[2019-07-28 18:25] #61 closed

[2019-07-28 18:32] rubanraj54 commented on #61
Hey @picakoch

I fixed the bug in the new release.

Cheers,
Ruby.

[2019-07-30 07:01] norangit commented on #63
@`rubanraj54` Thanks very much!

[2019-08-01 10:33] it-xtech-dev opened #64 "Mark tooling header with extra css class"
Hello, I would like to add some styling to upper table bar that contains search and action buttons. Currently container is not explicity marked with any class so styling has to relay on tr position which is weak...

Can you add extra class here:
(https://github.com/rubanraj54/vue-bootstrap4-table/blob/master/src/components/VueBootstrap4Table.vue)

`<tr v-if="showToolsRow">`

To

`<tr v-if="showToo

[2019-08-01 10:37] it-xtech-dev opened #65 "Add an localization to the component."
Hello,

Are you planning to add localization features to the component? Localization tokens could be specified as one of the props (lang - for example).

If you have no time for that i could possibly help you.

[2019-08-01 11:44] rubanraj54 commented on #64
Hi @it-xtech-dev Thanks for notifying me.

Currently, you can target the upper header bar using `vbt-header-row` class which includes the search and action buttons. Look at line 17. https://github.com/rubanraj54/vue-bootstrap4-table/blob/70a96e55cf5b8d836353a9509de35ea3db9a4dcb/src/components/VueBootstrap4Table.vue#L17

You can add your styles with `vbt-header-row` class as a reference. If you sti

[2019-08-01 11:46] rubanraj54 commented on #65
Hi @it-xtech-dev ,

Currently I don't have plans for localization feature, also Nowadays I am spending less time on contributing open source.

I'm is always welcome to accept pull requests and it would be really great if you can add localization feature to this plugin.

Cheers,
Ruby.

[2019-08-01 12:33] it-xtech-dev commented on #64
I've seen vbt-header-row but its is below container that i need to style. I would like to remove padding out of ToolsRow. I have updated original question because code examples where not displayed (I didnt marked them as code).

This is what i would like to achieve:
https://i.imgur.com/wJZKf2x.png

Right now i use:
.vbt-table-wrapper thead tr:first-child th {
    padding: 0;
    border-top: 0;
}

[2019-08-01 12:38] it-xtech-dev commented on #65
Do you have any requirements how localication should be implemented?

The props idea is ok for you?

[2019-08-01 19:45] rubanraj54 commented on #64
Yup, it makes sense @it-xtech-dev. I will add proper classes to all potential elements.

Cheers,
Ruby.

[2019-08-01 19:48] rubanraj54 commented on #65
Hey @it-xtech-dev,

I was thinking about a situation where Localization might be used in this plugin, and there is no place Localization is required since users can override the defaults through slots or props.

So I could say it's not required for this plugin.

Cheers,
Ruby.

[2019-08-06 15:13] Chris-Pratt-Clystnet commented on #13
Any news on this feature ?

[2019-08-07 12:14] rubanraj54 commented on #13
Hey @Chris-Pratt-Clystnet ,

Nowadays I am busy with some other projects but still I spend some time for this.
This weekend I will try to implement this feature.

Cheers,
Ruby.

[2019-08-16 14:39] NBoumakis commented on #58
Dear @rubanraj54 and @95jonpet the same happens even if I am not using routing. Could it be related to the usage of Vue.Js instead of jQuery?

[2019-08-20 18:58] rubanraj54 commented on #64
Hi @it-xtech-dev

I added the class to the tool header row. You can use this class 'vbt-table-tools' to style the header row.

Cheers,
Ruby,

[2019-08-20 18:58] #63 closed

[2019-08-20 19:08] rubanraj54 commented on #62
Closing this issue since there is no reply.

[2019-08-20 19:08] #62 closed

[2019-08-25 22:40] KalaTheMother opened #67 "Issue with dropdown"
Thanks for your work, it is very useful :) .

I saw an issue on dropdown filter (select) : the dropdown still be closed, never opened (multi and single mode). Then i click on dropdown, it launch a new tab with the homepage link but nothing else.

Thanks and have a good day.

[2019-08-26 06:50] it-xtech-dev commented on #64
Thanks very much!

wt., 20 sie 2019 o 20:58 Rubanraj <notifications@github.com> napisał(a):

[2019-08-30 09:17] leovin opened #68 "pagination_info not updated"
STR:
- navigate to demo page https://codepen.io/rubanraj54/full/zyZdzN
- navigate to any page using pagination bar

expected:
pagination_info will reflect current page

actual:
pagination_info stays the same "From 1 to 10 of 500 entries (500 total records) | 0 rows selected"

[2019-09-05 09:07] jcerdan opened #69 "Readme.md, 12 custom actions buttons, missing ':actions'"
Hi,

There's a

`:actions="actions"`

missing in the `<vue-bootstrap4-table>` tag in the Readme.md (doc) file.

Regards

[2019-09-07 07:45] ayophanz opened #70 "Suggestion"
This component is very good and I using it but it much more awesome if name support multiple values with separation of " | ", I'm trying to do on how to pass to value  in the name.

thank you

[2019-09-07 10:26] rubanraj54 commented on #70
Hey @ayophanz ,

Could you please give an example to understand more?

Cheers,
Ruby.

[2019-09-07 10:32] rubanraj54 commented on #13
Hey @Chris-Pratt-Clystnet, This feature is implemented and available from version 1.1.11

[2019-09-07 11:02] #64 closed

[2019-09-07 11:02] #69 closed

[2019-09-07 11:04] rubanraj54 commented on #69
hi @jcerdan ,

Thanks for letting me know, I fixed it in the master.

Cheers,
Ruby.

[2019-09-07 11:05] #13 closed

[2019-09-07 11:14] rubanraj54 commented on #67
Hi @KalaTheMother , could you please make an example in jsfiddle or something to see what is wrong.

I couldn't reproduce this behaviour in my end.

Cheers,
Ruby.

[2019-09-07 11:14] rubanraj54 commented on #68
Hi @leovin

Thanks for reporting the issue, I will fix this in my next release.

Cheers,
Ruby.

[2019-09-07 11:15] rubanraj54 commented on #65
I will close this issue since there is no response for a long time. But you can re-open the comment anytime.

Cheers,
Ruby,

[2019-09-07 11:15] #65 closed

[2019-09-07 11:17] rubanraj54 commented on #58
Hi @NBoumakis
jQuery is on of the dependency for Bootstrap. Could you please install jQuery and try once again.

Cheers,
Ruby.

[2019-09-07 11:19] ayophanz commented on #70
`
                            label: "Created at",
                            name: "created_at",
                            sort: true,
                            slot_name: "created_at",
                            row_text_alignment: "text-left",
                            column_text_alignment: "text-left",
                            row_classes: "room-types-row-class-date",

[2019-09-08 13:06] 95jonpet commented on #58
Bootstrap is marked as a dependency and npm pulls in all transitive dependencies. vue-bootstrap4-table Has jQuery as a dev dependency. Perhaps it should be moved to the list of regular dependencies (runtime dependencies instead of compiletime)?

[2019-09-12 04:28] zzbynzz opened #71 "How do customize global search ?"
As a title, I want to customize global search. I want to global search only filter row base a some field, example field 1,2,3, not all field. How can I do that ? Thanks !

[2019-09-13 08:50] rubanraj54 commented on #71
Hi @zzbynzz

Right now there is no way to do this, but I will consider this as a feature in the next release (this weekend).

Cheers,
Ruby.

[2019-09-17 07:12] allankluver commented on #67
HI @rubanraj54

I can reproduced the dropdown error if I use the bootstrapVue package instead of bootstrap. Don't know if that's the case here :-)

And thank you for a very nice table. Excellent work!! :)

[2019-09-17 16:17] mat813 opened #72 "Display correct pagination information in server mode"
Right now, if I search for something, I will get, for example,

It would be nice to be able to get a way to pass the number of filtered records too, so that I could get:

My JSON endpoint is already returning a filtered count, so I would simply need to hook it into vbt.

[2019-09-18 21:10] KalaTheMother commented on #67
Hi,

Sorry for the late. Indeed, i use BootstrapVue.
This is the beginning of the table :

<vue-bootstrap4-table :rows="rows" :columns="columns" :config="config" v-if="dataReady">

For now, i have not a jsfiddle, sorry.

I'm agree with @allankluver, Excellent work :)

[2019-09-20 10:57] mat813 commented on #72
Ok, I overrode the pagination-info slot with:

[code]

But it feels a bit dirty using props.stuff and local variables.

[2019-09-25 09:42] mat813 opened #73 "customFilters, how do they work?"
Hi,

I am migrating an app from server-side with datatables to vue.js using vue-bootstrap4-table. I am very happy with it, but for one point, there are some tables where I have buttons search helpers, usually helping filter hidden columns. I stumbled upon customFilters, and I wrote this (slightly edited to remove unimportant bits):

[code]

[code]

The idea is to have those buttons filter the prod

[2019-09-25 09:56] mat813 commented on #73
Ok, I knew that writing my problem down would end into me finding how to do it.

I amended my hidden column's definition to:

[code]

and it now works as expected. It would be great if it was documented 0:-)

[2019-09-25 10:00] mat813 commented on #73
I do have one thing to report, that is more of a cosmetic thing, the hidden column is the only one to have a search filter, and I have a small grey bar that is below the column names.  I assume it is where filters would end up.
I think it should only be there if there are filters in visible columns.
Reading the code, I think `showFilterRow` needs a bit of patching to only return true for columns t

[2019-09-29 11:50] NBoumakis commented on #58
Perhaps, since it is **vue**-bootstrap4-table, it would be possible to change jQuery to Vue.JS?

[2019-10-10 03:49] mykel019 commented on #45
How to get the index of an array in row-slot?

[2019-10-11 07:00] rubanraj54 commented on #73
Hi @mat813 ,

Thanks for your suggestions, I will try to include them in the next release.

Cheers,
Ruby.

[2019-10-11 07:01] rubanraj54 commented on #72
Hi @mat813 ,

Yes you're right, I'll check this out.

Cheers,
Ruby.

[2019-10-19 13:07] milano-slesarik opened #74 "How to modify filtering query params?"
I use this component with **django-rest-framework**. The problem is that drf uses very different parameters than this.

For example, when I want to sort by code, the url needed by drf looks like this:

`.../?code__icontains`

Is it possible to force this component to build URL this way?

[2019-10-29 10:25] sebj54 commented on #67
I confirm this problem: dropdowns does not work when you use bootstrap-vue instead of Bootstrap's JS (with jQuery).

As I do not want to load jQuery + Bootstrap's JS just for dropdowns, I wrote this little function to reproduce the dropdown's behavior:

[code]

You just have to add this function to your `methods` object in your Vue component and call `this.enableDropdowns()` in your mounted hook.

[2019-11-04 11:13] linuslabo opened #77 "Sorting columns with numbers"
Great project!
It would be lovely if columns with numbers were sorted as numbers and not alphabetically or if the `compare`  function could be overwritten.

[2019-11-19 18:28] jawogamay opened #78 "Put A Loader in Loading the Data"
Hi rubanraj54 is there a way I can add a loader upon mounting the data

[2019-11-19 21:22] #78 closed

[2019-11-19 21:23] jawogamay opened #79 "How to can I use filters and sorts in Laravel PHP using the Eloquent Model"

[2019-11-22 15:26] hzyIO opened #80 "Is it possible to have expandable / collapsable columns and row content?"
Doesn't look like through the documentation and demo that you can adjust the width of the columns either manually or by dragging (ideally).

Also if you click on a row, expand more content for that row. Is there a way to do this through this library or can we do this through the Bootstrap library possibly?

Really appreciate the work on this project, thank you.

[2019-11-24 13:13] tebenk commented on #28
no update on this feature yet?

[2019-12-18 12:31] Phil795 commented on #48
I also need methods to select and deselect lines.

Can you implement this by the end of January? Otherwise I'll have to do it myself.

[2019-12-18 15:47] mat813 commented on #57
I have the same problem, clicking on the dropdown link just takes me to the top of the page because of the `href="#"`.
Using the bootstrap-vue dropdown feature would be much easier.

[2019-12-24 04:46] rubanraj54 commented on #77
Right now there is no way to override the sort function, but I will try to include a override function.

[2020-01-04 17:11] bcotteret commented on #39
Hi @rubanraj54,
Any update ?

[2020-01-22 08:58] Phil795 opened #82 "Select and Deselect programmatically"
A method for programmatically selecting and deselecting lines is missing.

If a line is selected and the data array changes, a line still remains selected even though it no longer exists.

It would be nice if you could implement 2 methods for this.

[2020-02-01 09:26] ayophanz opened #83 "filter by date (enchancement)"
I want to do date filtering if is possible

[2020-02-01 13:02] ayophanz commented on #39
I'm waiting for this also and I'm so excited.

[2020-02-27 05:56] RoshanAtDure commented on #48
Hi,

Any update on this.  I need similar functionality of preselected checkbox.

Thanks
Roshan

[2020-04-05 06:22] bureauvk commented on #19
I am using the same setup, only the column isn't showing any results if I use this code:
[code]

When I use this:
`name: "tags[0].id",`
The filtering is only working for the first object in the array.

Is it possible to filter on all the objects?

[2020-04-30 14:38] shahabazdev commented on #16
Hi,

Any possibility to retain this if the user goes forward to a detail page from a table row, and then back to the table? As localstorage variable perhaps?

[2020-07-06 15:03] timsayshey commented on #28
Has anyone found a workaround to add inline editing to this project? Seems like this issue has been abandoned.

[2020-07-15 09:05] smst329 opened #90 "Loading by CDN issue"
I am getting these errors:

Property or method "_g" is not defined
TypeError: e._g is not a function

![image](https://user-images.githubusercontent.com/68325129/87525992-3eb9b100-c658-11ea-93be-80484db81c0a.png)

My HTML is pretty much copied from the readme:

[code]

As is my JS. I am using the CDN so i am not using an import statement, and I don't have components in my Vue object, but I have tr

[2020-09-02 11:48] moroq opened #93 "Dynamic dropdown filter modification"
Hi, thanks for wonderful component.
Struggling with issue: I have equipment list, displaying it with vue-bootstrap4-table. There is "Make" column. On first load I'm requesting makes list from server and put it to table field object. But when I create new element with new make - how do I correctly push new make to dropdown?

[2020-10-03 18:22] Kwaadpepper commented on #82
This is needed because of pagination only selecting visible lines.
Need to select all paginated content.

[2020-10-12 19:52] Kwaadpepper commented on #82
Found a solution,  **This will work with pagination (local pagination)**

You need to attribute a vbt_id manually (used on internal by vue-bootstrap4-table)

**Select All**

    let i = 1, self = this;
    _.map(self.rows, function(row) { // used underscore.js (just loop over rows, eg: for of)
        contact.vbt_id = i++;
        self.$refs.vueBootstrap4Table.addSelectedItem(row);
    });
    thi

[2020-10-12 20:07] Kwaadpepper commented on #60
Found a workaround, https://github.com/rubanraj54/vue-bootstrap4-table/issues/82#issuecomment-707314414

[2020-10-12 20:08] Kwaadpepper commented on #48
Found a work around https://github.com/rubanraj54/vue-bootstrap4-table/issues/82#issuecomment-707314414

[2020-10-20 14:29] TranceDevCode opened #98 "Need Jquery for use in bootstrap 5?"
Hey guys, great job with this package and thanks for share...
i have a question, do you need jquery for install and work with **"vue-bootstrap4-table"** ??

I'm start to work with bootstrap 5 alpha 2 now and i think about test the package, but i don't know if jquery is a dependence here...

Thank you guys.

[2020-10-23 12:46] juber-khan opened #99 "How to add edit action in each cell?"

[2021-02-05 02:17] ChemaBautista opened #102 "Suggestion"
Thanks for the great component, but I wish I could hide the "go to page".

[2021-03-25 06:56] developerangelm commented on #99
Hello is there any update on this?

[2021-03-25 07:00] developerangelm opened #104 "HTML from data not rendering"
Table Preview: [https://prnt.sc/10uuqfv](https://prnt.sc/10uuqfv)
Code Preview: [https://prnt.sc/10uurkb](https://prnt.sc/10uurkb)

Is there a small "quick" fix to let the data being passed on also render as HTML?
Originally, I wanted to work up an alternative since [this suggestion feature](https://github.com/rubanraj54/vue-bootstrap4-table/issues/99) doesn't seem to exist yet

[2021-04-08 13:19] kalakeli commented on #60
I also needed something to dynamically set a selection of rows checked. Searched for hours, tried many things, here is what I came up with following the idea of @Kwaadpepper

1. give a ref attribute to your table so you can refer to it by using `this.$refs.vbt` (if vbt is your ref)
2. get and set the rows array as usual
3. then map over the rows and add the appropriate row to the list of _selected

[2021-05-18 14:13] MonrealRyan commented on #102
+1 here

[2021-05-19 20:10] lionelripoll opened #110 "action button slot"
Can we add a slot for action button ?
That way we can add many action button

[2021-05-19 20:14] lionelripoll commented on #110
find the solution 👍
https://github.com/rubanraj54/vue-bootstrap4-table/issues/46

[2021-05-19 20:14] #110 closed, assigned to nobody

[2021-08-13 09:40] luisdoniad opened #114 "Vue 3 compatibility"
Can you please make this component compatible with Vue 3?
Thank you.

[2021-09-04 15:31] ryansyrl opened #115 "table tree"
Hello!

This is amazing table, do you plan to add table tree feature in the future?

thanks

[2022-04-02 19:41] betsaleel777 opened #124 "unselectable"
how can i make a row deselected and disabled (unselectable row)

[2022-06-04 19:32] jcalfee opened #126 "per_page_options drop-down is not working"
The `per_page_options` drop down button appears ok, but the drop down does not appear when clicked.

![image](https://user-images.githubusercontent.com/204121/172022776-2a83cb6d-f8e5-41e7-b0cb-d7f2194422ca.png)

I can see in the DOM inspector that the `.dropdown-menu` style is matching (from _dropdown.scss) and these classes are used on `<a ..` link elements: dropdown-menu dropdown-item

bootstrap

[2022-08-12 16:53] Mominsami07 commented on #37
hey ojas360,
Can you show me how you made it ?
I mean this function unSelectAllItems(), is built in, or you made it .
Thanks in advance.

[2022-08-12 16:56] Mominsami07 commented on #37
You saved me Man,
Thanks a lot ☺

[2022-08-12 18:19] Mominsami07 commented on #34
@adrieberg
I hope that he do this, And I wish that if you did it, please share with me a small example .
Thanks in advance.

[2022-11-03 22:41] ChemaBautista commented on #39
I'm waiting for this also. Any example for implement?

[2022-11-16 17:18] ChemaBautista opened #131 "Thanks for the great component, but I wish I could change text when count options selected"
select_all_checkbox: {
        visibility: true,
        text: "Todos",
        selected_count_text:"selecionados" // number options selected
      },

or

"# selected" -> "All"